body {
    background-color: #34495e;
}

.card {
    background-color: #1abc9c;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
